.nav {
  display: grid;
  color: white;
  background-color: rgb(41, 41, 59);
  grid-template-rows: 100px 1fr;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-options {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: end;
}

.nav-options > a {
  background-color: rgb(10, 10, 10);
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

.side-info {
  display: grid;
  grid-template-rows: 100px 1fr;
}
